{% extends "layout.html" %}

{% block title %}
Buy Stock
{% endblock %}

{% block main %}
<h3>Welcome, {{ username }}</h3>

<h5>Portfolio overview</h5>

<table class="center" border="1" align="center">
    <tr>
        <th>
            Symbol
        </th>
        <th>
            Company
        </th>
        <th>
            Shares
        </th>
        <th>
            Avg. buy price/share
        </th>
        <th>
            Current price/share
        </th>
        <th>
            Value (p/l %)
        </th>
    </tr>

    {% for row in row_portfolio %}

    <tr>
        <td>
            {{ row.symbol }}
        </td>
        <td>
            {{ list_companies[row.symbol] }}
        </td>
        <td>
            {{ row.shares }}
        </td>
        <td>
            ${{ row.share_average_price }}
        </td>
        <td>
            {{ list_prices_usd[row.symbol] }}
        </td>
        <td>
            {{ list_total_value[row.symbol] }} ({{ (((list_prices[row.symbol] -
            row.share_average_price)/ row.share_average_price )*100)|round(2)}}%)
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Cash</b></td>
        <td><b>{{ cash_balance_usd }}</b></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Total value</b></td>
        <td><b>{{ total_balance_usd }}</b></td>
    </tr>

    <br />
</table>

{% endblock %}